<p>update-form works!</p>
<input type="text" #cid placeholder="Customer ID" (keyup.enter)="clean(); getCustomer(cid.value)">
<button *ngIf="cid.value !== ''" (click)="clean(); getCustomer(cid.value);">Find Customer</button>
<button *ngIf="cid.value === ''" (click)="clean(); getCustomers();">Find Customer</button>
<div *ngIf="customer">
  <span>{{customer.cid}}</span><br>
  <span>{{customer.name}}</span><br>
  <span>{{customer.weight}}</span><br>
  <button (click)="deleteCustomer(customer.cid)">Delete record</button>
</div>
<div *ngIf="customers.length > 0">
  <div *ngFor="let item of customers; let i = index">
    <span>{{customers[i].cid}}</span><br>
    <span>{{customers[i].name}}</span><br>
    <span>{{customers[i].weight}}</span><br>
    <button (click)="deleteCustomer(customers[i].cid)">Delete record</button>
  </div>
</div>