<div>
  <span>Menu</span>
  <button (click)="appsection = 1">Get record</button>
  <button (click)="appsection = 2">Create record</button>
  <button (click)="appsection = 3">Update record</button>
</div>

<div *ngIf="appsection == 1">
  <app-update-form></app-update-form>
</div>
